#
# env.example - Secrets and environment file for your Dashboard development Docker Compose.
#	You need to copy this file to create your env file and customize the enviroment
#	variables for your installation.
#
#	You should import your updated .env file into Portainer to configure the
#	environment for your development Compose Stack.
#

# Full pathname to local development directory
LOCAL_DEV_DIR=<set to location of your development directory - usually ~/grafana>

# URL to access the production Prometheus instance for the NE Mesh
MY_PROM_URL=<set to the location of the production Promethues TSDB - see AB1OC for URL and Access>

# Set port for accessing Grafana on the local development machine. Default is Port 3000.
HOST_PORT=3000
