#
# env.example - Create a copy of this template in a file named
#    .env to enable sending email notifications about container
#    image updates. WARNING: Be sure to use the '.' in your .env
#    filename to avoid accidently exposing secrets. You can also
#    set when Watchtower runs via the WATCHTOWER_SCHEDULE variable.
#
# See https://watchtower.nickfedor.com/v1.13.1/notifications/overview/#common_smtp_configurations
# for information on configuring notifications via email.
#

# Set schedule for runs at 5:xx (35, 45, 55) am daily
WATCHTOWER_SCHEDULE="0 35 5 * * *"

# Watchtower email notification configuration 
DEVICE_NAME=<device name for email subject>
WATCHTOWER_NOTIFICATION_EMAIL_FROM=<some-device@example.com>
WATCHTOWER_NOTIFICATION_EMAIL_TO=<someone-else@example.com>
WATCHTOWER_NOTIFICATION_EMAIL_SERVER=<mail.some-server.com>
WATCHTOWER_NOTIFICATION_EMAIL_SERVER_PORT=<25, 2525, 465,...>
WATCHTOWER_NOTIFICATION_EMAIL_SERVER_USER=<mail server user ID>
WATCHTOWER_NOTIFICATION_EMAIL_SERVER_PASSWORD=<mail server password>